.slider-contain{
    width: 100%;
    height: 750px;
    background-color: #dddd;
    position: relative;
}
.slider-contain p{
    position: absolute;
    left: 620px;
    font-family:Montserrat, sans-serif;
    font-size:x-large;
    line-height: 1.32;
    font-weight: 700;
    word-wrap: break-word;
    color: #2b3a3b;
    margin-top: 57px;
    margin-bottom: 1.1em;
}

    .slider-line{  
            position: absolute;
            left: 600px;
            top: 110px;
            content: "";
            margin-top: 30px;
            width: 300px;
            height: 8px;
            max-width: 400px;
            display:inline-block;
            align-items: center;
            justify-content: center;
             background: url(https://cdn2.hubspot.net/hub/273774/file-1281286278-png/mp/themes/Act-Theme/images/bottom-shadow5.png) center bottom no-repeat;
             -webkit-background-size: 100% 8px;
             background-size: 100% 8px;
    }
    .slider-wrapper{
        width: 80%;
        height: 345px;
        position: absolute;
        top: 180px;
        margin-left: 150px;
      
    }
    .slider{
        padding: 0 10px;
        box-sizing: border-box;
        height: 265px;    
        display: flex;
        align-items: center;
       
    }
    .slider > div{
        background-color: rgb(54, 83, 87);
        box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.15), 0 20px 60px -10px rgba(0, 0, 0, .15);

    }
    .slider h3{
        color: #fff;
        font-family: Montserrat, sans-serif;
        line-height: 2;
        font-weight: 400;
        word-wrap: break-word;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .slider-button{
        position: absolute;
            float: right;
            font-weight: bold;
            width: 255px;
            height: 50px;
            background-color: #3ebbc0;
            float: right;
            left: 650px;
            top: 600px;
            border: none;
           color: white;
           cursor: pointer;
        }
        .slider-button:hover{
            transform: scale(1.1,1.1);
        }
        .slider-button a{
            text-decoration: none;
        color: inherit;
        }